@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  font-family: "Montserrat", sans-serif;
}
html::-webkit-scrollbar{
display: none;
}

@media (max-width: 800px) {
  .navbar {
    display: none;
  }

  .map {
    flex-direction: column;
  }

  .news {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer {
    flex-direction: column;
  }
  .footerPage {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .parent_comment {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .comment {
    margin-top: 40px;
    width: 100%;
  }
  .comment textarea {
    width: 100%;
  }
  .inp_parent {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .sign {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}

.nav_link {
  position: relative;
  padding-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_link:hover {
  color: #0ef;
}

.nav_link span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #0ef;
  border-radius: 15px;
  transform: scale(0) translateY(70px);
  transition: 0.5s;
}

.nav_link:hover span {
  transform: scale(1) translateY(0);
  opacity: 1;
}

.hero {
  background: linear-gradient(to right, #021934, #023e85);
}

.shadow {
  transition: all 0.5s ease;
  height: 435px;
  border-radius: 20px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  padding: 5px;
}

.shadow:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1);
  .btn {
    display: block;
  }
  img {
    filter: brightness(50%);
  }
}
.sign input {
  border: 2px solid gray;
  border-radius: 4px;
}
.sign input::placeholder {
  color: rgb(31, 19, 19);
}
.card {
  border: 2px dotted gray;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 2.5px;
  user-select: none;
  letter-spacing: 5px;
  width: 200px;
  height: 40px;
}
.amazingInp {
  font-style: italic;
  font-weight: 600;
  text-decoration: double;
}
.comment input {
  border: 2px solid gray;
  border-radius: 4px;
}
.comment textarea {
  border: 2px solid gray;
  border-radius: 4px;
  overflow: auto;
  resize: both;
}
.other_inp{
  border: none !important; 
}
.vertical_text{
  writing-mode: vertical-rl;
  background: linear-gradient(to right, #021934, #023e85);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.flip_img{
  transition: .5s;
}
.flip_img:hover{
  transform: scale(1.3);
}
